In [18]:
import pandas as pd
import numpy as np

In [19]:
df1 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_data/combined_df04.csv", chunksize=1000000):
    df1 = pd.concat([df1, chunk], ignore_index=True)
df1

,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,n_12,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,100005,20190401,MC1,100.0,0.0,100.0,0.0,100.0,14398.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,100006,20190401,MA2,NaN,NaN,100.0,0.0,100.0,28461.0,100.0,...,97.0,100.0,757909.0,100.0,13378.0,NaN,100.0,7.262268e+11,100.0,0
2,100021,20190401,MC1,100.0,2.0,100.0,1.0,100.0,17845.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,10003,20190401,MC1,100.0,0.0,100.0,0.0,100.0,4827.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,100074,20190401,MC1,100.0,0.0,100.0,0.0,100.0,10697.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11904110,99930,20190430,MA2,NaN,NaN,100.0,0.0,100.0,31639.0,100.0,...,88.0,100.0,4238858.0,100.0,59206.0,NaN,100.0,8.080853e+11,100.0,0
11904111,99931,20190430,MA2,NaN,NaN,100.0,0.0,100.0,33359.0,100.0,...,70.0,100.0,9059332.0,100.0,255843.0,NaN,100.0,8.463770e+11,100.0,0
11904112,9997,20190430,MA2,NaN,NaN,100.0,0.0,100.0,31684.0,100.0,...,99.0,100.0,563602.0,100.0,46004.0,NaN,100.0,8.118662e+11,100.0,0
11904113,99993,20190430,MC1,100.0,0.0,100.0,1.0,100.0,7019.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
11904114,99997,20190430,MC1,100.0,0.0,100.0,0.0,100.0,15093.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [20]:
model_list = ['MA1','MA2','MB1','MB2','MC1','MC2']
for model in model_list:
    df=df1[df1['model']==model].reset_index().copy()
    df.to_csv(f'../ssd_data/preprocessed_data/df_04_{model}.csv',index=False)