In [2]:
import pandas as pd

MA1 = pd.DataFrame()
for chunk in pd.read_csv("../ssd_data/combined_by_diskmodel/combined_MA1.csv", chunksize=1000000):
    MA1 = pd.concat([MA1, chunk], ignore_index=True)
MA1

,index,disk_id,ds,model,n_1,r_1,n_5,r_5,n_9,r_9,...,n_233,n_241,r_241,n_242,r_242,r_244,n_175,r_175,n_232,label
0,45,10045,20190101,MA1,130.0,4.294967e+09,97.0,0.0,100.0,38288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,9.752124e+11,NaN,0
1,50,10048,20190101,MA1,130.0,4.294967e+09,96.0,0.0,100.0,38288.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,9.752134e+11,NaN,0
2,69,10066,20190101,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46396.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.185723e+12,NaN,0
3,86,10083,20190101,MA1,130.0,4.294967e+09,98.0,0.0,100.0,39978.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.014085e+12,NaN,0
4,129,10122,20190101,MA1,130.0,4.294967e+09,97.0,0.0,100.0,45592.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.151518e+12,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4744310,11267559,9838,20190630,MA1,130.0,4.294967e+09,97.0,0.0,100.0,43197.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.086756e+12,NaN,0
4744311,11267567,9842,20190630,MA1,130.0,5.896511e+06,98.0,0.0,100.0,42705.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.078410e+12,NaN,0
4744312,11267600,9878,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,41465.0,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.048160e+12,NaN,0
4744313,11267700,9970,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.164486e+12,NaN,0
4744314,11267707,9974,20190630,MA1,130.0,4.294967e+09,96.0,0.0,100.0,46623.0,...,NaN,NaN,NaN,NaN,NaN,NaN,100.0,1.164486e+12,NaN,0

In [3]:
del(MA1['index'])

In [4]:
# null값이 있는 열을 제거하는 코드
def remove_null_columns(df):
    # null인 컬럼을 확인하고, 모든 값이 null인 컬럼을 찾습니다.
    null_columns = df.columns[df.isnull().all()]
    
    # 모든 값이 null인 컬럼을 DataFrame에서 제거합니다.
    df = df.drop(null_columns, axis=1)
    
    return df

In [5]:
# 하나의 unique한 값으로만 이루어진 컬럼을 제거하는 코드
def remove_single_value_columns(df):
    single_value_cols = []
    for col in df.columns:
        unique_values = df[col].nunique()
        if unique_values == 1:
            single_value_cols.append(col)

    df_filtered = df.drop(single_value_cols, axis=1)
    return df_filtered

In [6]:
MA1 = remove_null_columns(MA1)
MA1 = remove_single_value_columns(MA1)

In [7]:
MA1=MA1.fillna(0)

In [8]:
# 라벨이 1인 행을 필터링합니다.
selected_disk_model_1 = MA1[MA1['label'] == 1]

# 모델, disk_id, 그리고 날짜 순으로 정렬합니다.
selected_disk_model_1 = selected_disk_model_1.sort_values(by=['disk_id', 'ds'])

# disk_id와 model 열만을 선택하여 새로운 데이터 프레임에 저장합니다.
selected_disk_model_1 = selected_disk_model_1[['disk_id']].drop_duplicates().reset_index(drop=True)

# 결과 데이터 프레임을 출력합니다.
print(selected_disk_model_1)

     disk_id
0        520
1       1156
2       1224
3       1225
4       1230
..       ...
270    42763
271    42764
272    42767
273    42815
274    42824

[275 rows x 1 columns]

In [9]:
# disk_ids 데이터프레임에 있는 disk_id와 일치하는 행을 MA1 데이터프레임에서 불러옴
selected_label_1 = MA1[MA1['disk_id'].isin(selected_disk_model_1['disk_id'])]

# ds 컬럼에 따라 정렬
selected_label_1 = selected_label_1.sort_values(by='ds')

# 결과 출력
selected_label_1

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
73,1224,20190101,4.294967e+09,98.0,0.0,40531.0,27.0,100.0,0.0,100.0,...,18.0,6.841837e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.027106e+12,0
15887,1574,20190101,4.294967e+09,93.0,0.0,45675.0,36.0,100.0,0.0,100.0,...,20.0,9.909708e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.155708e+12,0
15898,16147,20190101,4.294967e+09,98.0,0.0,40766.0,36.0,100.0,0.0,100.0,...,14.0,2.485538e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.031282e+12,0
16266,28267,20190101,4.294967e+09,95.0,0.0,46339.0,41.0,100.0,0.0,100.0,...,14.0,2.202509e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.159917e+12,0
16745,4805,20190101,4.294967e+09,98.0,0.0,38250.0,54.0,100.0,0.0,100.0,...,17.0,2.712951e+08,100.0,0.0,0.0,0.0,0.0,100.0,9.582169e+11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4728372,21596,20190630,4.294967e+09,98.0,0.0,44478.0,30.0,100.0,0.0,100.0,...,19.0,1.635669e+09,100.0,0.0,0.0,0.0,0.0,100.0,1.129876e+12,0
4728775,36331,20190630,4.294967e+09,98.0,0.0,42817.0,0.0,0.0,0.0,0.0,...,17.0,0.000000e+00,100.0,0.0,0.0,0.0,0.0,1.0,1.078691e+12,0
4728831,37801,20190630,4.294967e+09,98.0,0.0,44870.0,38.0,100.0,0.0,100.0,...,15.0,1.796873e+09,100.0,0.0,0.0,0.0,0.0,100.0,1.129617e+12,0
4726972,11886,20190630,4.294967e+09,94.0,0.0,50427.0,40.0,100.0,0.0,100.0,...,16.0,3.334990e+07,100.0,0.0,0.0,0.0,0.0,100.0,1.279994e+12,0
4744124,42764,20190630,4.294967e+09,98.0,4.0,44850.0,41.0,100.0,2.0,100.0,...,16.0,9.206264e+08,99.0,4.0,0.0,0.0,0.0,100.0,1.125323e+12,0

In [12]:
import pandas as pd
import numpy as np
from tqdm import tqdm

# 결과를 저장할 빈 데이터프레임 생성
processed_label_1 = pd.DataFrame()

# tqdm을 사용하여 진행 상황 표시
for disk_id in tqdm(list(selected_disk_model_1['disk_id'])):
    # 특정 disk_id에 대한 데이터 추출
    subset = selected_label_1[(selected_label_1['disk_id'] == disk_id)].copy()
    
    # label이 1인 인덱스 찾기
    label_one_indices = subset.index[subset['label'] == 1].tolist()
    
    # label이 1인 날짜 이전 30일을 찾아서 label을 1로 설정
    for index in label_one_indices:
        # 이전 30일의 인덱스를 찾음 (최소 인덱스를 고려)
        start_index = max(index - 30, subset.index.min())
        subset.loc[start_index:index, 'label'] = 1
    
    # 결과 데이터에 추가
    processed_label_1 = pd.concat([processed_label_1, subset])

# 최종 전처리된 데이터
processed_label_1

  0%|          | 0/275 [00:00<?, ?it/s]

100%|██████████| 275/275 [00:00<00:00, 311.74it/s]

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
821858,520,20190130,9.376596e+08,96.0,0.0,38191.0,27.0,100.0,0.0,100.0,...,16.0,33733630.0,100.0,0.0,0.0,0.0,0.0,100.0,9.793172e+11,0
858376,520,20190131,1.624577e+09,96.0,0.0,38215.0,27.0,100.0,0.0,100.0,...,17.0,33733726.0,100.0,0.0,0.0,0.0,0.0,100.0,9.794111e+11,0
873871,520,20190201,2.014090e+09,96.0,0.0,38239.0,27.0,100.0,0.0,100.0,...,17.0,33733759.0,100.0,0.0,0.0,0.0,0.0,100.0,9.795051e+11,0
907339,520,20190202,2.812968e+09,96.0,0.0,38263.0,27.0,100.0,0.0,100.0,...,16.0,33733774.0,100.0,0.0,0.0,0.0,0.0,100.0,9.795990e+11,0
943568,520,20190203,3.442008e+09,96.0,0.0,38287.0,27.0,100.0,0.0,100.0,...,15.0,33733798.0,100.0,0.0,0.0,0.0,0.0,100.0,9.796929e+11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4643066,42824,20190626,4.294967e+09,94.0,0.0,48860.0,46.0,100.0,0.0,100.0,...,17.0,884843672.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241470e+12,0
4668803,42824,20190627,4.294967e+09,94.0,0.0,48884.0,46.0,100.0,0.0,100.0,...,17.0,884886553.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241564e+12,0
4694939,42824,20190628,4.294967e+09,94.0,0.0,48908.0,46.0,100.0,0.0,100.0,...,18.0,884924703.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241658e+12,0
4702639,42824,20190629,4.294967e+09,94.0,0.0,48932.0,46.0,100.0,0.0,100.0,...,18.0,884965991.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241751e+12,0
4735585,42824,20190630,4.294967e+09,94.0,0.0,48955.0,46.0,100.0,0.0,100.0,...,18.0,885006704.0,100.0,0.0,0.0,0.0,0.0,100.0,1.241845e+12,0

In [22]:
processed_label_1['label'].value_counts()

label
0    34940
1      275
Name: count, dtype: int64

In [13]:
import random

# 시드 값을 설정합니다.
random.seed(42)

# 라벨이 1인 행을 필터링합니다.
selected_disk_model_0 = MA1[MA1['label'] == 0]

# disk_id만 추출
selected_disk_model_0 = selected_disk_model_0['disk_id'].drop_duplicates()
selected_disk_model_0 = list(selected_disk_model_0)
selected_disk_model_0

# 275개를 랜덤하게 선택
selected_disk_model_0 = random.sample(selected_disk_model_0, 275)

In [14]:
# disk_ids 데이터프레임에 있는 disk_id와 일치하는 행을 MA1 데이터프레임에서 불러옴
selecetd_label_0= MA1[MA1['disk_id'].isin(selected_disk_model_0)]

# ds 컬럼에 따라 정렬
selecetd_label_0= selecetd_label_0.sort_values(by='ds')

# 결과 출력
selecetd_label_0

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
37,11021,20190101,4.294967e+09,95.0,0.0,46679.0,33.0,100.0,0.0,100.0,...,18.0,9.717908e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.185953e+12,0
17089,14869,20190101,4.294967e+09,97.0,0.0,37640.0,0.0,0.0,0.0,0.0,...,14.0,0.000000e+00,100.0,0.0,0.0,0.0,0.0,100.0,9.581584e+11,0
17219,19415,20190101,4.294967e+09,98.0,0.0,36844.0,41.0,100.0,0.0,100.0,...,12.0,3.701852e+07,100.0,0.0,0.0,0.0,0.0,100.0,9.410302e+11,0
17261,20740,20190101,4.294967e+09,98.0,0.0,37172.0,41.0,100.0,0.0,100.0,...,14.0,1.262730e+07,100.0,0.0,0.0,0.0,0.0,100.0,9.453267e+11,0
17335,22839,20190101,4.294967e+09,98.0,0.0,40441.0,74.0,100.0,0.0,100.0,...,14.0,7.784229e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.009346e+12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4728727,34800,20190630,4.294967e+09,97.0,0.0,42525.0,0.0,0.0,0.0,0.0,...,16.0,0.000000e+00,100.0,0.0,0.0,0.0,0.0,100.0,1.065720e+12,0
4728745,35176,20190630,4.294967e+09,98.0,0.0,44852.0,51.0,100.0,0.0,100.0,...,14.0,1.627484e+09,100.0,0.0,0.0,0.0,0.0,100.0,1.134003e+12,0
4728842,38166,20190630,4.294967e+09,98.0,2.0,42603.0,0.0,0.0,0.0,0.0,...,15.0,0.000000e+00,99.0,2.0,0.0,0.0,0.0,100.0,1.082352e+12,0
4731751,24294,20190630,4.294967e+09,92.0,0.0,50139.0,25.0,100.0,0.0,100.0,...,16.0,2.237487e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.275836e+12,0
4744139,4473,20190630,4.294967e+09,98.0,0.0,44637.0,78.0,100.0,0.0,100.0,...,12.0,1.585703e+08,100.0,0.0,0.0,0.0,0.0,100.0,1.121275e+12,0

In [15]:
# final_df와 final_df2를 합칩니다.
final_df = pd.concat([processed_label_1, selecetd_label_0])

# model, disk_id, date를 기준으로 그룹화하고 shuffle합니다.
grouped = final_df.groupby(['disk_id'])
shuffled_groups = random.sample(list(grouped), len(grouped))

# 진행 상황을 표시하기 위해 tqdm 사용
shuffled_df = pd.DataFrame()
for _, group in tqdm(shuffled_groups):
    shuffled_df = pd.concat([shuffled_df, group])

# 최종 결과를 출력합니다.
shuffled_df

100%|██████████| 548/548 [00:01<00:00, 328.17it/s]

,disk_id,ds,r_1,n_5,r_5,r_9,r_12,n_171,r_171,n_172,...,r_194,r_195,n_196,r_196,r_197,r_198,r_199,n_175,r_175,label
5372,12421,20190101,4.294967e+09,98.0,0.0,40821.0,38.0,100.0,0.0,100.0,...,12.0,757133607.0,100.0,0.0,0.0,0.0,0.0,100.0,1.030799e+12,0
53056,12421,20190102,4.294967e+09,98.0,0.0,40845.0,38.0,100.0,0.0,100.0,...,14.0,757174608.0,100.0,0.0,0.0,0.0,0.0,100.0,1.030893e+12,0
81970,12421,20190103,4.294967e+09,98.0,0.0,40869.0,38.0,100.0,0.0,100.0,...,14.0,757183421.0,100.0,0.0,0.0,0.0,0.0,100.0,1.030987e+12,0
106666,12421,20190104,4.294967e+09,98.0,0.0,40893.0,38.0,100.0,0.0,100.0,...,13.0,757199079.0,100.0,0.0,0.0,0.0,0.0,100.0,1.031081e+12,0
130818,12421,20190105,4.294967e+09,98.0,0.0,40916.0,38.0,100.0,0.0,100.0,...,13.0,757207830.0,100.0,0.0,0.0,0.0,0.0,100.0,1.031175e+12,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4640051,1674,20190626,4.294967e+09,96.0,0.0,13225.0,0.0,0.0,0.0,0.0,...,14.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,3.397798e+11,0
4663960,1674,20190627,4.294967e+09,96.0,0.0,13249.0,0.0,0.0,0.0,0.0,...,14.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,3.398738e+11,0
4687793,1674,20190628,4.294967e+09,96.0,0.0,13273.0,0.0,0.0,0.0,0.0,...,14.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,3.436020e+11,0
4712894,1674,20190629,4.294967e+09,96.0,0.0,13296.0,0.0,0.0,0.0,0.0,...,14.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,3.436960e+11,0
4726020,1674,20190630,4.294967e+09,96.0,0.0,13320.0,0.0,0.0,0.0,0.0,...,14.0,0.0,100.0,0.0,0.0,0.0,0.0,100.0,3.437899e+11,0

In [20]:
shuffled_df['label'].value_counts()

label
0    75118
1      277
Name: count, dtype: int64

In [17]:
shuffled_df.shape

(75395, 31)

In [16]:
#final_data 라는 폴더 따로 만들께요
shuffled_df.to_csv('../ssd_data/final_data/final_data_MA1.csv',index=False)

OSError: Cannot save file into a non-existent directory: '..\ssd_data\final_data'

-----------------------여기까지-------------------------------------